@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
}
<style>
    .padding_left_40{
        padding-left:40px;
    }
</style>
<section id="about_nicsi">
    <div class="container-fluid">
        <div class="row">
            <div class="sc_head">
                <h2 class="heading">About Panch Gaurav  Programme <span> (PGP) </span></h2>
                <div class="heading_division_white mb-3"></div>
            </div>
            <p class="about_text">
                The Directorate of Economics and Statistics was established in the year 1956 as the Principal Statistical Organisation in the State to feed the planning needs. Apart from this, Statistical cells in various State Government departments are also imparting statistical activities in the respective departments. The Directorate also keeps close liaison with the statistical organizations of the Central Government in statistical matters.
            </p>
            <p class="about_text">
                Due to Rajasthan's diverse environmental conditions and unique regional characteristics, every district has its own set of strengths and identity. With this diversity, districts can be recognized for their Agricultural Produce Botanical Species, Industrial Product, Tourist Place and Sports activities.
            </p>
            <p class="about_text">To promote this regional pride and create opportunities for economic growth and employment, the “Panch Gaurav” Programme has been initiated. Each district will identify five key elements:</p>
            <ul class="vs_list padding_left_40">
                <li>
                    One District-One Agricultural Produce
                </li>
                <li>One District-One Botanical Species</li>
                <li>One District-One industrial product</li>
                <li>One District-One Tourist Place</li>
                <li>One District-One Sport</li>
            </ul>
            <p class="about_text">These will be developed and promoted as part of a district-level pride initiative.</p>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <div class="box_vision">
                    <div class="vision_hd">
                        <h4 class="mb-0">
                            <img src="~/Landing/images/vision.svg">
                            <span>Objectives of the Programme</span>
                        </h4>
                    </div>
                    <div class="vision_content">
                        @* <p class="quote">
                            "To empower the young brains to learn and spread awareness and knowledge about various government Programmes and services for the benefit of society and to act as a bridge between the service providers and recipients. "
                        </p> *@
                        <ul class="vs_list">
                            <li>Conservation and management of environmental and economic challenges</li>
                            <li>Improve quality, branding, and distribution of local products</li>
                            <li>Promote local employment by leveraging regional specialties</li>
                            <li>Develop cultural and eco-tourism sites</li>
                            <li>Utilize sports development to improve health and identity</li>
                            <li>Reduce regional imbalances by encouraging balanced development across districts</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="box_mission">
                    <div class="mission_hd">
                        <h4 class="mb-0">
                            <img src="~/Landing/images/mission.svg">
                            <span>Success Criteria</span>
                        </h4>
                    </div>
                    <div class="mission_content">
                        @* <p class="quote">
                            "
                            Our mission is develop operational and learning skills among young scholars and strengthen their research and evaluation skills in the field of public administration and development services and to get independent critical analysis of Government Programmes and seeks suggestions for corrective measures. "
                        </p> *@
                        <ul class="vs_list">
                            <li>Reflecting local uniqueness through chosen five Pride (Gaurav)</li>
                            <li>Community participation to ensure better outcomes</li>
                            <li>Focus on conservation, economic growth and job creation</li>
                            <li>Training and awareness for local youth and citizens</li>
                            <li>Monitoring and evaluation through committees</li>
                            <li>Feedback from local communities to improve outcomes</li>
                            <li>Preference for infrastructure and capacity-building projects</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>