@{
    ViewData["Title"] = "ContactUs Page";
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
}
@* <link href="~/landing/css/owl.carousel.css" rel="stylesheet" /> *@
<section id="about_nicsi">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="teams-size">
                <div class="our-team-head wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                    <h2 class="screen__reader">District Office</h2>
                </div>
                <table class="table table-bordered" border="1" cellspacing="0" cellpadding="5">
                    <thead class="table-primary">
                        <tr>
                            <th>S.NO.</th>
                            <th>DISTRICT</th>
                            <th>NAME OF OFFICER</th>
                            <th>DESIGNATION</th>
                            <th>I. P. NO.</th>
                            <th>PHONE NO.</th>
                            <th>MOBILE NO.</th>
                            <th>EMAIL ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>AJMER</td><td>Phool Singh</td><td>Joint Director</td><td>32076</td><td>0145-2427247</td><td>9057979951</td><td>dsoajm[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>2</td><td>ALWAR</td><td>Priyanka Mathur</td><td>Deputy Director</td><td>-</td><td>0144-2337827</td><td>9829137992</td><td>dsoalw[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>3</td><td>BANSWARA</td><td>Satyendra Kumar Shah (A.C.P.)</td><td>Deputy Director</td><td>-</td><td>02962-242530</td><td>9414646050</td><td>dsobns[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>4</td><td>BARMER</td><td>Jaswant Kumar Gaur</td><td>Deputy Director</td><td>-</td><td>02982-220682</td><td>9828833349</td><td>dsobrm[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>5</td><td>BARAN</td><td>Rajeev Chaudhuri</td><td>Deputy Director</td><td>36016</td><td>07453-237021</td><td>9887435020</td><td>dsobrn[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>6</td><td>BHARATPUR</td><td>Ram Prakash</td><td>Joint Director</td><td>-</td><td>05644-222723</td><td>9413029470</td><td>dsobha[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>7</td><td>BHILWARA</td><td>Sonal Raj Kothari</td><td>Deputy Director</td><td>38076</td><td>01482-226188</td><td>9413239329</td><td>dsobhl[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>8</td><td>BIKANER</td><td>Rohitash Suniya</td><td>Joint Director</td><td>-</td><td>0151-2226026</td><td>9772359957</td><td>dsobkn[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>9</td><td>BUNDI</td><td>Poonam Dhaka</td><td>Deputy Director</td><td>-</td><td>0747-2442364</td><td>8952042485</td><td>dsobun[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr><td>10</td><td>CHITTORGARH</td><td>Shabnam Khorwal</td><td>Deputy Director</td><td>42076</td><td>01472-241212</td><td>9950416855</td><td>dsochi[dot]des[at]rajasthan[dot]gov[dot]in</td></tr>
                        <tr>
                            <td>11</td>
                            <td>CHURU</td>
                            <td>Ramgopal Sepat</td>
                            <td>Deputy Director</td>
                            <td>49075</td>
                            <td>01562-250403</td>
                            <td>9636607152</td>
                            <td>dsochu[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>DAUSA</td>
                            <td>Vijay Kumar Sharma</td>
                            <td>Deputy Director</td>
                            <td>52185</td>
                            <td>01427-224353</td>
                            <td>9694983943</td>
                            <td>dsodau[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>DHOLPUR</td>
                            <td>Rajesh Kumar</td>
                            <td>Deputy Director</td>
                            <td>54015</td>
                            <td>05642-220737</td>
                            <td>8003441330</td>
                            <td>dsodhl[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>DUNGARPUR</td>
                            <td>Amit Sharma</td>
                            <td>Deputy Director</td>
                            <td>46076</td>
                            <td>02964-232205</td>
                            <td>7014918112</td>
                            <td>dsodng[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>GANGANGAR</td>
                            <td>Susheel Kumar Sharma</td>
                            <td>Deputy Director</td>
                            <td>58015</td>
                            <td>0154-2443484</td>
                            <td>8696456755</td>
                            <td>dsosngr[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>HANUMANGARH</td>
                            <td>Mamta Vishnoi</td>
                            <td>Deputy Director</td>
                            <td>48076</td>
                            <td>01552-262402</td>
                            <td>9413110875</td>
                            <td>dsohnu[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>JAIPUR</td>
                            <td>Babulal Meena</td>
                            <td>Joint Director</td>
                            <td>-</td>
                            <td>0141-2203672</td>
                            <td>9414191714</td>
                            <td>dsojpr[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>JAISALMER</td>
                            <td>Rajendra Meghwal</td>
                            <td>Deputy Director</td>
                            <td>51099</td>
                            <td>02992-251403</td>
                            <td>7728932746</td>
                            <td>dsojsl[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>JALORE</td>
                            <td>Dhan Singh Rajpurohit</td>
                            <td>Deputy Director</td>
                            <td>52076</td>
                            <td>02973-222463</td>
                            <td>9461212556</td>
                            <td>dsojal[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>JHALAWAR</td>
                            <td>Ashish Yadav</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>07432-232425</td>
                            <td>9251676834</td>
                            <td>dsojlw[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>JHUNJHUNU</td>
                            <td>Poonam Katewa</td>
                            <td>Deputy Director</td>
                            <td>54076</td>
                            <td>01592-232832</td>
                            <td>9413511189</td>
                            <td>dsojhu[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>JODHPUR</td>
                            <td>Minakshi Chaudhary</td>
                            <td>Joint Director</td>
                            <td>55076</td>
                            <td>0291-2556560</td>
                            <td>9413257545</td>
                            <td>dsojod[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>KARAULI</td>
                            <td>Mukesh Kumar</td>
                            <td>Deputy Director</td>
                            <td>72075</td>
                            <td>07464-250605</td>
                            <td>9413863917</td>
                            <td>dsokar[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>KOTA</td>
                            <td>Ramnarayan Malav</td>
                            <td>Joint Director</td>
                            <td>57076</td>
                            <td>0744-2325997</td>
                            <td>9460854251</td>
                            <td>dsokota[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>NAGAUR</td>
                            <td>Ramkumar Rao</td>
                            <td>Deputy Director</td>
                            <td>58076</td>
                            <td>01582-240773</td>
                            <td>7014482679</td>
                            <td>dsongr[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>PALI</td>
                            <td>Vedprakash Chaudhary</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>02932-227512</td>
                            <td>9413202688</td>
                            <td>dsopali[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>PRATAPGARH</td>
                            <td>Ajay Shankar Bairwa</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>01478-220052</td>
                            <td>9413749583</td>
                            <td>dsoprt[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>RAJSAMAND</td>
                            <td>Bindu Chaudhary (Officiating)</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>02952-221306</td>
                            <td>6350660296</td>
                            <td>dsorjs[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td>SWAI MADHOPUR</td>
                            <td>Dimple Gurjar</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>07462-220185</td>
                            <td>9660000892</td>
                            <td>dsoswm[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>SIKAR</td>
                            <td>Dr. Anil Kumar Sharma</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>01572-255524</td>
                            <td>9460402951</td>
                            <td>dsoskr[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>SIROHI</td>
                            <td>Siyaram Meena</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>02972-222427</td>
                            <td>9784631094</td>
                            <td>dsosirohi[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>TONK</td>
                            <td>Hanuman Meena</td>
                            <td>Deputy Director</td>
                            <td>-</td>
                            <td>01432-247386</td>
                            <td>8104807461</td>
                            <td>dsotonk[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td>UDAIPUR</td>
                            <td>Puneet Sharma</td>
                            <td>Deputy Director</td>
                            <td>67076</td>
                            <td>0294-2414384</td>
                            <td>9468708162</td>
                            <td>dsoudr[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td>BALOTARA</td>
                            <td>Ramnivas Kumawat (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9587054978</td>
                            <td>dsoblt[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>BEAWAR</td>
                            <td>Anil Kumar Jaithaliya (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9829928706</td>
                            <td>dsobea[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>36</td>
                            <td>DEEG</td>
                            <td>Rakesh Kumar Meena (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9785372294</td>
                            <td>dsodeg[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>DEEDWANA-KUCHMAN</td>
                            <td>Ashta Verma (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9588825840</td>
                            <td>dsodwkm[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>KOTPUTLI-BAHROD</td>
                            <td>Babulal Bairwa (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9509563178</td>
                            <td>dsokotputli[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>KHAIRTHAL-TIJARA</td>
                            <td>Mahesh Kumar (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9828534133</td>
                            <td>dsokhr.tij[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>PHALODI</td>
                            <td>Kanaram Meghwal (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>9413257655</td>
                            <td>dsofld[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>SALUMBAR</td>
                            <td>Anita Chaudhary (Officiating)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>8619301940</td>
                            <td>dsosal[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
<script src="~/custom/eventgalleryMaster.js" asp-append-version="true"></script>
@section Scripts {
    <script asp-append-version="true">
        eventgallery.getEventPagelist();
    </script>
}
@* <script src="~/landing/js/owl.carousel.min.js"></script>
<script>
    var owl = jQuery('#teams .owl-carousel');
    owl.owlCarousel({
        margin: 20,
        nav: true,
        autoplay: true,
        lazyLoad: true,
        autoplayTimeout: 3000,
        loop: false,
        dots: true,
        navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
        responsive: {
            0: {
                items: 1
            },
            576: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 4
            }
        },
        autoplayHoverPause: true,
        mouseDrag: true
    });
                </script> *@
