@{
    ViewData["Title"] = "ContactUs Page";
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
}
@* <link href="~/landing/css/owl.carousel.css" rel="stylesheet" /> *@
<section id="about_nicsi">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="teams-size">
                <div class="our-team-head wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                    <h2 class="screen__reader">State Office</h2>
                </div>
                <table class="table table-bordered" border="1" cellspacing="0" cellpadding="5">
                    <thead class="table-primary">
                        <tr>
                            <th>S. No.</th>
                            <th>Name of Officer/Official</th>
                            <th>Post</th>
                            <th>Unit/OIC</th>
                            <th>I.P. Phone</th>
                            <th>Ext.</th>
                            <th>Direct</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Vinesh Singhvi</td>
                            <td>Director cum Joint Secretary</td>
                            <td>HOD</td>
                            <td>23340</td>
                            <td>201</td>
                            <td>2850201</td>
                            <td>9414055134</td>
                            <td>dir[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Ranveer Singh</td>
                            <td>Joint Director</td>
                            <td>Co-ordination</td>
                            <td>23347</td>
                            <td>227</td>
                            <td>2850227</td>
                            <td>9413209999</td>
                            <td>jdcoord[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Manju Rani</td>
                            <td>System Analyst</td>
                            <td>I.T. Cell</td>
                            <td>23358</td>
                            <td>247</td>
                            <td>2850247</td>
                            <td>7976205584</td>
                            <td>jdsdc[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Subhash Chandra</td>
                            <td>Analyst cum Programmer</td>
                            <td>I.T. Cell</td>
                            <td>23359</td>
                            <td>248</td>
                            <td>2850248</td>
                            <td>9982706026</td>
                            <td>jdsdc[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Ram Singh Rathore</td>
                            <td>Assistant Director</td>
                            <td>Co-ordination</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>9460147399</td>
                            <td>jdcoord[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Manu Kala</td>
                            <td>Assistant Director</td>
                            <td>Co-ordination</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7891485598</td>
                            <td>jdcoord[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Shivani Sharma</td>
                            <td>Programmer</td>
                            <td>I.T. Cell</td>
                            <td></td>
                            <td>208</td>
                            <td>2850208</td>
                            <td>8619920929</td>
                            <td>jdsdc[dot]des[at]rajasthan[dot]gov[dot]in</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
<script src="~/custom/eventgalleryMaster.js" asp-append-version="true"></script>
@section Scripts {
    <script asp-append-version="true">
        eventgallery.getEventPagelist();
    </script>
}
@* <script src="~/landing/js/owl.carousel.min.js"></script>
<script>
    var owl = jQuery('#teams .owl-carousel');
    owl.owlCarousel({
        margin: 20,
        nav: true,
        autoplay: true,
        lazyLoad: true,
        autoplayTimeout: 3000,
        loop: false,
        dots: true,
        navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
        responsive: {
            0: {
                items: 1
            },
            576: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 4
            }
        },
        autoplayHoverPause: true,
        mouseDrag: true
    });
                </script> *@
