@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
}
<section id="about_nicsi">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="teams-size">
                <div class="our-team-head wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                    <h2 class="screen__reader"> District Panch Gaurav BookLets</h2>
                </div>
                <table border="1" cellpadding="8" cellspacing="0" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>District</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Ajmer</td><td><a href="~/Final_Dist_Book/Ajmer.pdf" target="_blank"> <i class="fa fa-download"></i></a></td></tr>
                        <tr><td>2</td><td>Alwar</td><td><a href="~/Final_Dist_Book/Alwar.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>3</td><td>Balotara</td><td><a href="~/Final_Dist_Book/Balotara.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>4</td><td>Baran</td><td><a href="~/Final_Dist_Book/Baran.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>5</td><td>Barmer</td><td><a href="~/Final_Dist_Book/Barmer.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>6</td><td>Banswara</td><td><a href="~/Final_Dist_Book/Banswara.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>7</td><td>Beawar</td><td><a href="~/Final_Dist_Book/Beawar.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>8</td><td>Bharatpur</td><td><a href="~/Final_Dist_Book/Bharatpur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>9</td><td>Bhilwara</td><td><a href="~/Final_Dist_Book/Bhilwara.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>10</td><td>Bikaner</td><td><a href="~/Final_Dist_Book/Bikaner.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>11</td><td>Bundi</td><td><a href="~/Final_Dist_Book/Bundi.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>12</td><td>Chittorgarh</td><td><a href="~/Final_Dist_Book/Chittorgarh.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>13</td><td>Churu</td><td><a href="~/Final_Dist_Book/Churu.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>14</td><td>Deeg</td><td><a href="~/Final_Dist_Book/Deeg.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>15</td><td>Didwana-Kuchaman</td><td><a href="~/Final_Dist_Book/Didwana-Kuchaman.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>16</td><td>Dholpur</td><td><a href="~/Final_Dist_Book/Dholpur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>17</td><td>Dungarpur</td><td><a href="~/Final_Dist_Book/Dungarpur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>18</td><td>Dausa</td><td><a href="~/Final_Dist_Book/Dausa.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>19</td><td>Hanumangarh</td><td><a href="~/Final_Dist_Book/Hanumangarh.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>20</td><td>Jaipur</td><td><a href="~/Final_Dist_Book/Jaipur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>21</td><td>Jaisalmer</td><td><a href="~/Final_Dist_Book/Jaisalmer.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>22</td><td>Jalore</td><td><a href="~/Final_Dist_Book/Jalore.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>23</td><td>Jhalawar</td><td><a href="~/Final_Dist_Book/Jhalawar.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>24</td><td>Jhunjhunu</td><td><a href="~/Final_Dist_Book/Jhunjhunu.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>25</td><td>Jodhpur</td><td><a href="~/Final_Dist_Book/Jodhpur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>26</td><td>Karauli</td><td><a href="~/Final_Dist_Book/Karauli.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>27</td><td>Khairthal-Tijara</td><td><a href="~/Final_Dist_Book/Khairthal-Tijara.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>28</td><td>Kota</td><td><a href="~/Final_Dist_Book/Kota.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>29</td><td>Kotputli-Behror</td><td><a href="~/Final_Dist_Book/Kotputli-Behror.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>30</td><td>Nagaur</td><td><a href="~/Final_Dist_Book/Nagaur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>31</td><td>Pali</td><td><a href="~/Final_Dist_Book/Pali.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>32</td><td>Phalodi</td><td><a href="~/Final_Dist_Book/Phalodi.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>33</td><td>Pratapgarh</td><td><a href="~/Final_Dist_Book/Pratapgarh.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>34</td><td>Rajsamand</td><td><a href="~/Final_Dist_Book/Rajsamand.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>35</td><td>Salumbar</td><td><a href="~/Final_Dist_Book/Salumbar.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>36</td><td>Sawai Madhopur</td><td><a href="~/Final_Dist_Book/Sawai Madhopur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>37</td><td>Sikar</td><td><a href="~/Final_Dist_Book/Sikar.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>38</td><td>Sirohi</td><td><a href="~/Final_Dist_Book/Sirohi.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>39</td><td>Sri Ganganagar</td><td><a href="~/Final_Dist_Book/Sri Ganganagar.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>40</td><td>Tonk</td><td><a href="~/Final_Dist_Book/Tonk.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>
                        <tr><td>41</td><td>Udaipur</td><td><a href="~/Final_Dist_Book/Udaipur.pdf" target="_blank"><i class="fa fa-download"></i></a></td></tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>