<!DOCTYPE html>
<html lang="en" class="color-header headercolor7">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="canonical" href="https://sdg.Rajasthan.gov.in/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0">
    <title>Panch Gaurav Programme (PGP) Rajasthan  </title>
    <meta name="title" content="Panch Gaurav Programme (PGP) Rajasthan ">
    <meta name="description" content="Panch Gaurav Programme Rajasthan">
    <meta name="description" content="The Panch Gaurav Programme (PGP)">
    <meta name="keyword" content="Panch Gaurav Programme (PGP) Rajasthan, PGP Rajasthan">

    <!--favicon-->
    <link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link rel="shortcut icon" href="~/Landing/images/favicon.ico" type="image/x-icon">
   @*  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap">
   *@  <link rel="stylesheet" type="text/css" href="~/Landing/css/bootstrap.min.css">
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    *@ 
    @* <link rel="stylesheet" type="text/css" href="~/Landing/css/custom.css" asp-append-version="true"> *@
    <link href="~/vertical/assets/toast/jquery.toast.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"> *@
    <link rel="stylesheet" type="text/css" href="~/Landing/css/banner.css">
    <link rel="stylesheet" href="~/Landing/css/swiper.css" />
    <script src="~/Landing/js/jquery-3.7.1.min.js"></script>
    <link href="~/vertical/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/vertical/assets/css/app.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vertical/assets/css/icons.css" rel="stylesheet">
    <title>@ViewData["Title"] - PGP</title>
</head>

<body>
   
    <style type="text/css">
        .headerCont-1 {
            width: 100%;
            float: left;
            padding: 15px 0 0 0;
        }

        .headerTop ul {
            display: inline-block;
            margin: 0;
            padding: 1px 0 0 0;
            float: right;
        }

            .headerTop ul li {
                display: inline-block;
                color: #fff;
                padding: 0 6px;
                float: left;
            }

        .colorTheme a {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 0 3px;
            padding: 0;
            float: left;
        }

        .colr3 {
            background: #0d5b65;
        }

        .colr2 {
            background: #dbdbdb;
            background: -moz-linear-gradient(-45deg, #dbdbdb 0, #fff 48%, #2c2c2c 48%, #3f3f3f 49%, #131313 100%);
            background: -webkit-linear-gradient(-45deg, #dbdbdb 0, #fff 48%, #2c2c2c 48%, #3f3f3f 49%, #131313 100%);
            background: linear-gradient(135deg, #dbdbdb 0, #fff 48%, #2c2c2c 48%, #3f3f3f 49%, #131313 100%);
        }

        .colr1 {
            background: #018fa1;
        }

        .fontplus a {
            float: left;
            color: #131313;
            padding: 2px 7px;
            font-size: 13px;
            font-weight: 400;
            line-height: 15px;
        }

        .skipdiv a {
            color: #131313;
            font-size: 14px;
            float: left;
            font-weight: 400;
            line-height: 19px;
            padding: 1px 2px;
        }

            .skipdiv a p {
                margin: 0;
                line-height: 1;
                font-weight: 400;
                font-size: 13px;
            }

        .headerButton {
            text-align: right;
            padding: 8px 0 0 0;
            width: 100%;
            float: left;
        }

        .logodiv a {
            padding: 0;
        }

        .logodiv img {
            max-width: 390px;
        }

        .cm-photoSection {
            float: left;
            width: 34%;
        }

        .cm-photos {
            font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 0;
            position: relative;
        }

        .cm-imgsec {
            margin-top: 0;
            margin-bottom: 0;
        }

        #menu {
            max-height: 500px; /* Adjust the height as needed */
            overflow-y: auto; /* Enables vertical scrolling */
            overflow-x: hidden; /* Hides horizontal scrollbar */
            border: 1px solid #ddd; /* Optional: Add a border */
        }

            /* Optional: Style scrollbar for better UI */
            #menu::-webkit-scrollbar {
                width: 8px;
            }

            #menu::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 4px;
            }

                #menu::-webkit-scrollbar-thumb:hover {
                    background-color: #555;
                }
    </style>
    @using Microsoft.AspNetCore.Http
    @using System.Security.Claims
    @inject IHttpContextAccessor HttpContextAccessor
    @{
        var user = HttpContextAccessor.HttpContext.User;
        var isAuthenticated = user.Identity.IsAuthenticated;
        var district = user.FindFirst("DistrictName")?.Value;
        var name = user.FindFirst("UserName")?.Value;
        var role = user.FindFirst("Role")?.Value;
    }}
    <div class="loader-layout" id="dvLoader" style="display:none">
        <div class="dot-opacity-loader">
            <div></div>
           
        </div>
    </div>
    <!--wrapper-->
    <div class="wrapper">
        <div class="topbarheader">
            @* <div class="header-strip screen__reader"> <img src="~/Landing/images/footerline.png" alt="Strip Line"> </div> *@
            <div class="header d-flex align-items-center header-top screen__reader">
                <div class="header-left screen__reader">
                    <a action="Index" asp-controller="Home" title="SDG Logo" class="screen__reader logo__topsec">
                        <img src="~/Landing/images/indian.png" class="Rajasthan_logo" alt="Govt Logo" width="80" height="100">
                        <div class="d-flex flex-column logo_left_sec">
                            <div class="logo_below_text">
                                <p class="m-0" style="font-size:18px">  <strong> Department of Statistics  </strong> </p>
                                <p class="m-0" style="font-size:18px">  <strong> Directorate of Economics & Statistics </strong> </p>
                                <small style="font-size:18px">Government of Rajasthan</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="header-center screen__reader">
                  @*   <a action="Index" asp-controller="Home" title="SDG Logo" class="screen__reader" style="display: flex; justify-content: center;">
                        <img src="~/Landing/images/cmfp-logo.png" class="Rajasthan_logo" alt="Panch Gaurav Programme" width="100">
                    </a> *@
                    <div class="cm__content" style="display: flex;justify-content: center;">
                        <h4 style="color: #243a73 !important;/* font-family: 'Poppins'; */text-transform: uppercase; font-weight:600">
                            Panch Gaurav Programme
                        </h4>
                    </div>
                </div>
                <div class="header-right screen__reader">
                    <div class="cm__section">
                        <div class="pl-15">
                            <div>
                                <img src="~/Landing/images/cm-photo.jpeg" alt="Shri BhajanLal Sharma" width="75" height="74" style="border-radius:50%">
                            </div>
                            <div class="cm__content">
                                <label>Shri BhajanLal Sharma </label>
                                <p> Hon'ble Chief Minister </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end flex-column bg-hed">
                        <div class="top_head_right">
                            @*  <div class="pe-4 screen__reader language-sec mob__hide">
                            <a value="E" id="El" class="btn btn-outline-primary active me-1" data-bs-original-title="English" data-bs-toggle="tooltip" data-bs-placement="top" href="#" onclick="document.getElementById('set-culture-en').submit();">  English  </a>
                            <a value="O" id="OL" class="btn btn-outline-primary" data-bs-original-title="हिन्दी" data-bs-toggle="tooltip" data-bs-placement="top" href="#" onclick="document.getElementById('set-culture-hi').submit();">  हिन्दी  </a>
                            <form id="set-culture-en" asp-action="SetLanguage" method="post" style="display:none;">
                            <input type="hidden" name="culture" value="en" />
                            </form>

                            <form id="set-culture-hi" asp-action="SetLanguage" method="post" style="display:none;">
                            <input type="hidden" name="culture" value="hi" />
                            </form>
                            </div> *@
                            <div class="pe-3 mob__hide screen__reader" tabindex="7">   
                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-warning btn-sm" title="LogOut">Logout</button>
                                }
                                @* <a href="/Login/NewLogin" class="head__login" >

                                </a> *@
                            </div>
                        </div>
                        <div class="logo-headpartner screen__reader">
                        </div>
                    </div>
                    <!-- side setiing stickybar -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="~/vertical/assets/images/avatars/avatar-admin.png" class="user-img" alt="user avatar">
                </div>
                <div b-cuxf7clalm="" class="user-info" style="padding-left: 13px;">
                    <p b-cuxf7clalm="" class="user-name mb-0" style="color:#000 !important">@name</p>
                    <p b-cuxf7clalm="" class="designattion mb-0" style="color:#000 !important">@role - @district</p>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class='bx bx-arrow-to-left'></i>
                </div>
            </div>
            <!--navigation-->
           @*  @await  Component.InvokeAsync("PermissionMenu") *@
            <ul class="metismenu" id="menu">
                <li>
                    <a asp-controller="Indicator" asp-action="Dashboard">
                        <div class="parent-icon">
                            <i class='bx bx-home-circle'></i>
                        </div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                </li>              
             @*    <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-bookmark'></i>
                        </div>
                        <div class="menu-title">Master</div>
                    </a>
                    <ul>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Users"><i class="bx bx-right-arrow-alt"></i>User</a>

                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Department"><i class="bx bx-right-arrow-alt"></i>Department</a>
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Qualification"><i class="bx bx-right-arrow-alt"></i>Qualification</a>                            
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Batch"><i class="bx bx-right-arrow-alt"></i>Batch</a>
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Degree"><i class="bx bx-right-arrow-alt"></i>Degree</a>
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="State"><i class="bx bx-right-arrow-alt"></i>State</a>
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Role"><i class="bx bx-right-arrow-alt"></i>Role</a>
                        </li>

                        <li>
                            <a asp-controller="ManageMaster" asp-action="Menu"><i class="bx bx-right-arrow-alt"></i>Manu</a>
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="SubMenu"><i class="bx bx-right-arrow-alt"></i>SubMenu</a>
                        </li>
                        <li>
                            <a asp-controller="ManageMaster" asp-action="Nodal"><i class="bx bx-right-arrow-alt"></i>Nodal</a>
                        </li>
                    </ul>
                </li> *@
            </ul>
            <!--end navigation-->
            @* <div class="pro-card border border-light-2 bg-light-transparent p-3 radius-10 mx-3">
            <p class="text-light">Rocker Premium Template has full features of all UI Components for admin panel.</p>
            <div class="d-grid">
            <a href="https://codervent.gumroad.com/l/rocker" target="_blank" class="btn btn-primary radius-10">Upgrade to Pro!</a>
            </div>
            </div> *@
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='fa fa-arrow-up'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2021. All right reserved.</p>
        </footer>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery1-3.4.1.min.js"></script>

    <script src="~/js/popper1.min.js"></script>

    <script src="~/js/bootstrap1.min.js"></script> *@
    <script src="~/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/vertical/assets/js/jquery.min.js"></script>
    <!--Datatable js-->
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/vertical/assets/datatable/js/jquery.dataTables.min.js"></script>
    @* <script src="~/vendors/datatable/js/dataTables.responsive.min.js"></script>*@
    @* <script src="~/vendors/count_up/jquery.waypoints.min.js"></script> *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/landing/sweetalert/sweetalert2.min.js"></script>
    <script src="~/custom/common.js" asp-append-version="true"></script>

    <script src="~/vertical/assets/js/app.js"></script>
    <script src="~/vertical/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/vertical/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/vertical/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/vertical/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/vertical/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    @* <script src="~/vertical/assets/plugins/chartjs/js/Chart.min.js"></script> *@
    @* <script src="~/vertical/assets/js/index.js"></script> *@
    <!--app JS-->

    <script src="~/vertical/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/vertical/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

    <!--notification js -->
    @* <script src="~/vertical/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/vertical/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="~/vertical/assets/plugins/notifications/js/notification-custom-script.js"></script> *@


    <script src="~/vertical/assets/toast/jquery.toast.min.js" asp-append-version="true"></script>
    <script src="~/vertical/assets/toast/toast.js" asp-append-version="true"></script>
    <script src="~/Landing/js/select2.min.js" asp-append-version="true"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> *@
    <script src="~/vertical/assets/plugins/select2/js/select2-custom.js"></script>
    @* <script src="~/js/" asp-append-version="true"></script> *@
    <script src="~/custom/table.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
