@model MO.BudgetMaster.VettingRowVM

<div>
    Activity
    <input class="form-control"
           value="@Model.Columns.GetValueOrDefault(17)" />
</div>

<div>
    Budget
    <input class="form-control"
           value="@Model.Columns.GetValueOrDefault(1)" />
</div>
