@model MO.BudgetMaster.VettedQuestions

<div class="modal fade" id="vettedModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Vetted Entries</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <!-- Dynamic Form -->
                <div id="dynamicFormContainervetted" class="p-4 bg-light border-start border-3 border-primary rounded shadow-sm mb-4">
                    @* JS will generate full form *@
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>

<script>
    window.questions = @Html.Raw(Json.Serialize(Model.mainquestion));
    window.activityList = @Html.Raw(Json.Serialize(ViewBag.ActivityTypes));
    window.gauravGuid = '@Model.GauravGuid';
</script>