@model List<MO.BudgetMaster.VettingList>
@{
    ViewData["Title"] = "Work Plan Vetting";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
    var nonce = Context.Items["CSPNonce"]?.ToString();
}
<style nonce="@nonce">
    /* Overlay */
    .manual-modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        justify-content: center;
        align-items: center;
    }

    /* Modal box */
    .manual-modal-content {
        position: relative;
        background: #fff;
        padding: 10px;
        border-radius: 6px;
        max-width: 90%;
        max-height: 90%;
        box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    }

    /* Image */
    .manual-modal-image {
        max-width: 100%;
        max-height: 80vh;
        object-fit: contain;
        display: block;
    }

    /* Close button */
    .manual-close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

        .manual-close:hover {
            color: red;
        }

    .action-btn {
        min-width: 90px;
        text-align: center;
    }

    .modal-backdrop.fade.show {
        display: none !important;
    }

    body.modal-open.vetting-active .modal-backdrop {
        display: none !important;
    }

  

</style>

    <div class="form-group">
        <label>Garauv</label>
        <select class="form-control" name="GarauvId" id="GarauvId">
        </select>
    </div>

    <div class="form-group">
        <label>District</label>
        <select class="form-control" name="DistrictId" id="DistrictId">
        </select>
    </div>
    <hr />
    <div id="vettingContainer">
        <!-- table loads here -->
    </div>
    <hr/>

<div id="pendingListContainer"></div>

    <div class="modal fade" id="verifyModalvetting" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                @*   <div class="modal-header">
                <h5 class="modal-title">Verify Work Plan</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div> *@

                <div class="modal-body">
                <input type="hidden" id="mRawId">
                <input type="hidden" id="mGauravId">
                <input type="hidden" id="mDistrictId">
                <input type="hidden" id="mSubQuestionMasterId">
                <input type="hidden" id="mQuestionMasterId">
                    <div class="row">

                        <!-- LEFT (Readonly) -->
                        <div class="col-md-6">
                            <h6>Work Plan Submitted By District</h6>
                            <div id="readonlyData"></div>
                        </div>

                        <!-- RIGHT (Editable) -->
                        <div class="col-md-6">
                            <h6>Vetted By Department</h6>
                            <div id="editableData"></div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" id="saveVerify">
                        Save
                    </button>
                    <button class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>

            </div>
        </div>
    </div>

@section Scripts {
    <script nonce="@nonce"
            src="~/custom/budgetmaster.js" asp-append-version="true"></script>
}


